<div
	class="alert alert-danger"
	data-ng-show = "validationResult.containsValidationError">

	<h3>Please fix the following errors before submitting</h3>
	<div>
		<ul id="validationErrorMessage"
                     style="color:red; font-family:verdana;">
		</ul>
	</div>
</div>
