<% include layout %>

   <script src="/bower_components/angular/angular.min.js"></script>
   <script src="../../javascripts/app/productCategory/productCategoryModule.js"></script>
   <script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
   <script src="../../javascripts/app/productCategory/viewProductCategoryController.js"></script>

   <% include pageTitle %>

   <br>

    <div 
       data-ng-app="productCategoryModule"
       data-ng-controller="viewProductCategoryController">
         
       <div class="container">
          <% include productCategoryGrid %>
       </div>
    </div>
